@use "abstracts/vars" as *;
@use "abstracts/mixins" as *;
@use "abstracts/functions" as *;
@use "abstracts/utilities" as *;

@use "base/global";
@use "base/animations";
@use "base/print";

@use "layout/header";
@use "layout/footer";

@use "components/buttons";
@use "components/cards";

@use "pages/home";
@use "pages/courses";
@use "pages/course-details";
@use "pages/enroll";