// Абстракти (змінні, міксини, функції)
@use "abstracts/vars" as *;
@use "abstracts/mixins" as *;
@use "abstracts/functions" as *;

// Базові стилі
@use "base/global";
@use "base/typography";
@use "base/animations";

// Лейаут
@use "layout/header";
@use "layout/footer";

// Компоненти
@use "components/buttons";
@use "components/cards";
@use "components/inputs";

// Сторінки
@use "pages/home";
@use "pages/courses";
@use "pages/course-details";
@use "pages/enroll";