<footer class="footer-container" style="background-color: #E0F2FE;">
  <div class="footer-columns">
      <div class="col">
          <h4>Company</h4>
          <ul>
              <li>About Us</a></li>
              <li>Careers</a></li>
              <li>Blog</a></li>
              <li>Partners</a></li>
          </ul>
      </div>

      <div class="col">
          <h4>Support</h4>
          <ul>
              <li>Help Center</a></li>
              <li>Contact Us</a></li>
              <li>FAQ</a></li>
          </ul>
      </div>
  
      <div class="col">
          <h4>Follow us</h4>
          <ul>
              <li>Facebook</a></li>
              <li>LinkedIn</a></li>
              <li>Instagram</a></li>
              <li>YouTube</a></li>
              <li>GitHub</a></li>
          </ul>
      </div>

      <div class="col">
          <h4>Topic</h4>
          <ul>
              <li>Software Development</li>
              <li>Web Development</li>
              <li>Artificial Intelligence</li>
              <li>Machine Learning</li>
              <li>Data Science</li>
              <li>Data Engineering</li>
              <li>Cloud & DevOps</li>
          </ul>
      </div>

      <div class="col">
          <h4>Technology</h4>
          <ul>
              <li>Python</li>
              <li>C / C++</li>
              <li>Go</li>
              <li>HTML & CSS</li>
              <li>Java</li>
              <li>JavaScript</li>
              <li>Kotlin</li>
              <li>PHP</li>
              <li>R</li>
          </ul>
      </div>

      <div class="col">
          <h4></h4>
          <ul>
              <li>Ruby</li>
              <li>SQL</li>
              <li>Swift</li>
              <li>Rust</li>
              <li>TypeScript</li>
              <li>Scala</li>
              <li>Dart</li>
              <li>MATLAB</li>
              <li>Bash</li>
          </ul>
      </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 LearnIT</p>
  </div>
</footer>  