<header class="header-container" style="background-color: #4F46E5;">
    <div class="col">
        <div class="learnit">
            <a href="/">LearnIT</a>
        </div>
        <nav class="desktop">
            <a href="/courses">Explore ▼</a>
        </nav>
    </div>
  
    <div class="col">
        <button aria-label="submit">
            <img src="/search.png" alt="Search courses">
        </button>
        <nav class="desktop">
            <button class="btn outlined white login-btn">Log In</button>
            <button class="btn solid white signup-btn">Sign Up</button>
        </nav>
        <button class="mobile" aria-label="more">
            <img src="/more.png" alt="More options">
        </button>
    </div>
</header>