<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnIT</title>
</head>
<body style="background-color: #F6F7F8;">
    <%- include('partials/header') %>

    <section>
        <div class="col">
            <h1>Learn IT Skills Anytime, Anywhere</h1>
            <p>Self-paced online courses in programming, design, and tech — for beginners and beyond.</p>
            <a href="/courses"><button class="btn solid purple">Start Learning</button></a>
        </div>

        <nav class="desktop">
            <div class="col">
                <img src="/picture_1.png" alt="Learning Illustration">
            </div>
        </nav>
    </section>

    <section style="background-color: #E0F2FE;">
        <div class="col">
            <img src="/clock.png" alt="Clock icon">
            <h3>Learn at your own pace</h3>
        </div>

        <div class="col">
            <img src="/monitor.png" alt="Monitor icon">
            <h3>Multiple tech directions</h3>
        </div>

        <div class="col">
            <img src="/wallet.png" alt="Wallet icon">
            <h3>Free & paid options</h3>
        </div>

        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>