@use "../abstracts/vars" as vars;

@mixin firaCodeFont($size, $weight, $color, $style) {
    font-family: 'Fira Code', monospace;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-style: $style;
}

@mixin workSansFont($size, $weight, $color, $style) {
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-style: $style;
}

@mixin nunitoFont($size, $weight, $color, $style) {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-style: $style;
}

@mixin hover-scale($scale: 1.1, $duration: 0.3s, $ease: ease-in-out) {
    transition: transform $duration $ease;
    &:hover {
        opacity: 0.85;
        transform: scale($scale);
    }
}

@mixin hover-translate() {
    &:hover {
        opacity: 0.85;
        transform: translateY(-2px);
    }
}

@mixin hover-shadow() {
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 0 20px 20px rgba(0,0,0,0.08);
    }
}


@mixin hover-blue() {
    &:hover {
        transform: translateY(-2px);
        background: vars.$light-blue;
    }
}