@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$white: #FFFFFF;
$black: #000000;
$light-gray: #F6F7F8;
$gray: #9298A3;
$light-blue: #E0F2FE;
$blue: #4F46E5;