@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.course-details {
  display: flex;
  padding: 50px 50px 50px 50px;
  flex-direction: column;
  gap: 40px;

  .course-header {

    h1 {
      @include mixins.workSansFont(48px, 600, vars.$black, normal);
      margin: 0px 0px 5px;
    }

    p {
      @include mixins.workSansFont(20px, 400, vars.$black, normal);
      margin: 0px 0px 10px;
    }
  }

  .course-info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .course-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;

      .tag {
        padding: 6px 12px;
        border-radius: 10px;
        background: vars.$light-blue;
        @include mixins.nunitoFont(14px, 400, vars.$black, normal);
      }
    }
  }

  .what-learn {

    h2 {
      @include mixins.workSansFont(24px, 600, vars.$black, normal);
      margin-bottom: 16px;
    }

    ul {
      @include mixins.workSansFont(16px, 400, vars.$black, normal);
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;

      li {
        margin-bottom: 8px;
        padding-left: 0;
        position: relative;
      }
    }
  }

  .course-stats {
    background: vars.$white;
    border: 1px solid vars.$gray;
    display: flex;
    justify-content: space-center;
    padding: 30px 50px;

    .col {
      width: 25%;
      justify-content: center;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        @include mixins.nunitoFont(16px, 400, vars.$black, normal);
      }

      img {
        max-width: 32px;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .course-details {
    .course-header{
        h1 {
            @include mixins.workSansFont(32px, 600, vars.$black, normal);
        }
        p {
            @include mixins.workSansFont(16px, 400, vars.$black, normal);
        }
    }
    .course-info,
    .enroll-redirect,
    .what-learn {
        h2 {
            @include mixins.workSansFont(16px, 600, vars.$black, normal);
            margin-bottom: 30px;
          }
        ul {
            grid-template-columns: 1fr;
            @include mixins.workSansFont(14px, 400, vars.$black, normal);
            line-height: 1;
            margin-bottom: 1px;
        }
    }

    .course-stats {
      padding-left: 20px;
      padding-right: 20px;
    }

    .course-stats {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        position: relative;
      
        &::before,
        &::after {
          content: '';
          position: absolute;
          background: vars.$gray;
        }
      
        &::before {
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          transform: translateY(-50%);
        }
      
        &::after {
          top: 0;
          left: 50%;
          width: 1px;
          height: 100%;
          transform: translateX(-50%);
        }
      
        .col {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            gap: 6px;
    
            span {
              @include mixins.nunitoFont(12px, 400, vars.$black, normal);
              line-height: 1.2;
              text-align: center;
            }
    
            img {
              max-width: 22px;
              height: auto;
            }
          }
      }
  }      
}