@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;
@use "../base/animations";

.courses-page main {
    width: 100%;
    max-width: none;
    margin: 50px 0;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.filters-col {
    flex: 0 0 280px;
    margin: 0;
    background: vars.$white;
    padding: 16px 20px;
    border-radius: 12px;
    border: 1px solid vars.$gray;
    overflow-y: auto;
    max-height: 600px;
    box-sizing: border-box;

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
        }
    }

    .filter-group {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:not(:last-child) {
            border-bottom: 1px solid vars.$gray;
            padding-bottom: 12px;
            margin-bottom: 12px;
        }

        legend {
            @include mixins.nunitoFont(14px, 700, vars.$black, normal);
            margin-bottom: 6px;
        }

        label {
            @include mixins.nunitoFont(14px, 500, vars.$black, normal);
            cursor: pointer;
        }
    }
}

.courses-col {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 16px;
  column-gap: 16px;
  box-sizing: border-box;

  .course-card {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    height: 270px;
    background: vars.$white;
    border: 1px solid vars.$gray;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;

    opacity: 0;
    animation: fadeDown 1s ease forwards 0.2s;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 18px rgba(0,0,0,0.08);
      border-color: vars.$blue;
      cursor: pointer;
    }

    .course-topic {
      background: vars.$light-blue;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      gap: 8px;

      img { width: 18px; height: 18px; }
      span { @include mixins.nunitoFont(14px, 600, vars.$black, normal); }
    }

    .course-content {
      padding: 12px 16px;
      h2 a {
        @include mixins.nunitoFont(16px, 700, vars.$black, normal);
        margin-bottom: 4px;
        text-decoration: none;
        color: vars.$black;
      }
      p {
        @include mixins.nunitoFont(12px, 400, vars.$black, normal);
        line-height: 1.3;
        margin: 0;
      }
    }

    .course-bottom {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .course-price { font-size: 12px; }
      .course-divider {
        height: 1px;
        background: vars.$gray;
        margin: 0;
      }

      .course-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .time {
          order: 0;
          @include mixins.nunitoFont(12px, 700, vars.$black, normal);
        }

        .course-meta {
          order: 1;
          display: flex;
          align-items: center;
          gap: 6px;

          img { width: 16px; }
          span { @include mixins.nunitoFont(12px, 500, vars.$black, normal); }
        }
      }
    }
  }
}

@media (max-width: 768px) {
    .courses-page main {
      flex-direction: column;
      width: 100%;
      padding: 0px 50px 0 50px;
    }
  
    .courses-col {
      width: 100% !important;
      grid-template-columns: 1fr;
    }
  
    .filters-col {
      display: none;
    }
}
   