@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.enroll-container {
    max-width: 100vw;
    margin: 35px auto 80px;
    padding: 0 50px;
    display: flex;
    gap: 40px;
  
    &.free-course {
      flex-direction: column;
  
      > .col:first-child {
        width: 100%;
      }
    }
  
    > .col {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
  
      &:first-child {
        background: none;
        border: none;
        justify-content: flex-start;
      }
    }
  
    .course-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: flex-start;
      padding: 0;
      max-width: 100%;
  
      h1 {
        @include mixins.workSansFont(36px, 700, vars.$black, normal);
        margin: 0 0 5px;
        line-height: 1;
      }
  
      p {
        @include mixins.nunitoFont(22px, 300, vars.$black, normal);
        margin: 0 0 16px;
        line-height: 1.2;
      }
  
      .time-lessons-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
  
      .time, .lessons {
        display: flex;
        align-items: center;
        gap: 6px;
        @include mixins.nunitoFont(18px, 700, vars.$black, normal);
      }
    }
  }
  
  .enroll-form {
    padding: 24px;
    background: vars.$white;
    border: 1px solid vars.$gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    position: relative;
  
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      @include mixins.nunitoFont(16px, 500, vars.$black, normal);
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 10%;
      width: 80%;
      height: 1px;
      background-color: vars.$gray;
      transform: translateY(-50%);
    }
  }
  
  #enroll-message-container {
    margin-top: 16px;
    min-height: 40px;
    @include mixins.nunitoFont(20px, 700, vars.$blue, normal);
  
    .btn {
      display: block;
      margin-top: 10px;
      padding: 10px 16px;
      background-color: vars.$blue;
      color: vars.$white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      @include mixins.workSansFont(18px, 600, vars.$white, normal);
  
      @include mixins.hover-translate();
    }
  }
  
  .enroll-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  h3 {
    @include mixins.workSansFont(30px, 700, vars.$black, normal);
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .enroll-container {
      flex-direction: column;
      padding: 0 24px;
    }
  
    .enroll-btn-wrapper {
      margin-top: 12px;
    }
  }
  