@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.hero {
    max-width: 100vw;
    margin: 35px auto 25px;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 220px;

    .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .hero-text {
        max-width: 735px;

        h1 {
            @include mixins.workSansFont(52px, 700, vars.$black, normal);
            line-height: 1;
            margin: 0 0 5px;
            padding: 0;
        }

        p {
            @include mixins.nunitoFont(30px, 300, vars.$black, normal);
            line-height: 1;
            margin: 0 0 50px;
            padding: 0;
        }
    }

    nav.desktop a {
        display: none;
        background: none;
        border: none;

        img { width: 270px; height: 270px; }
    }

    @media (max-width: 1150px) {
        .hero {
            flex-direction: column;
            text-align: center;
            gap: 10px;
            padding: 0 20px;
        }

        .hero-text {
            max-width: 100%;
            h1 {
                @include mixins.workSansFont(32px, 700, vars.$black, normal);
            }

            p {
                @include mixins.nunitoFont(18px, 300, vars.$black, normal);
                margin-bottom: 30px;
            }
        }

        nav.desktop {
            display: none;
        }

        nav.mobile {
            display: block;
        }
    }
}

.features-section {
    max-width: 100vw;
    margin: 0px 50px 35px 50px;
    padding: 24px 50px;
    background-color: vars.$light-blue;
    border: 1.5px solid vars.$gray;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    .col {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;

        img {
            width: 64px;
            height: auto;
            margin: 0 auto;
        }

        h3 {
            max-width: 160px;
            margin: 0 auto;
            text-align: center;
            @include mixins.nunitoFont(22px, 400, vars.$black, normal);
        }
    }

    .col:not(:last-child) {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 10%;
            right: 0;
            width: 1.5px;
            height: 80%;
            background-color: vars.$gray;
        }
    }
}

@media (max-width: 800px) {
    .features-section {
        flex-direction: column;
        padding: 5px;
        background: none;
        border: none;

        .col {
            padding: 0;
            text-align: center;

            img {
                width: 30px;
                height: auto;
                margin: 0 auto;
            }

            h3 {
                max-width: 300px;
                margin: 0 auto;
                text-align: center;
                @include mixins.nunitoFont(18px, 400, vars.$black, normal);
            }

            &:not(:last-child)::after {
                content: '';
                position: relative;
                display: block;
                width: 150%;
                height: 2px;
                margin: 0;
                transform: translateX(-15%);
            }
        }

        .col::after {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
            height: 1px;
        }
    }
}