@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.btn {
    padding: 8px 22px; 
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: opacity 0.2s ease;
}

button[aria-label="submit"] {
    width: 42px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img { width: 35px; height: 35px; }
    @include mixins.hover-scale(1.1, 0.3s, ease-in-out);
}

button.mobile[aria-label="more"] {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    img { width: 24px; height: 24px;
    }
    @include mixins.hover-scale(1.1, 0.1s, ease-in-out);
}

@media (max-width: 768px) {
    button.mobile[aria-label="more"] {
        display: block;
    }
}

.login-btn {
    padding: 8px 22px;
    height: 42px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid vars.$white;
    color: vars.$white;
    cursor: pointer;
    @include mixins.workSansFont(16px, 500, vars.$white, normal);
    transition: opacity 0.2s ease;

    @include mixins.hover-translate();
}

.signup-btn {
    padding: 8px 22px;
    height: 42px;
    border-radius: 10px;
    background: vars.$white;
    border: 1px solid vars.$white;
    color: vars.$blue;
    cursor: pointer;
    @include mixins.workSansFont(16px, 500, vars.$blue, normal);
    transition: opacity 0.2s ease;

    @include mixins.hover-translate();
}

.start-learning {
    background-color: vars.$blue;
    color: vars.$white;
    padding: 12px 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    @include mixins.workSansFont(22px, 600, vars.$white, normal);

    @include mixins.hover-translate();
}

.start {
    background-color: vars.$blue;
    color: vars.$white;
    padding: 12px 28px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    @include mixins.workSansFont(18px, 600, vars.$white, normal);

    @include mixins.hover-translate();
}
