@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.course-card {
    display: flex;
    flex-direction: column;
    background: vars.$white;
    border: 2px solid vars.$gray;
    border-radius: 10px;
    overflow: hidden;
    width: 330px;

    @include mixins.hover-shadow();

    .course-topic {
        background: vars.$light-blue;
        padding: 10px 16px;
        min-height: 36px;
        display: flex;
        align-items: center;
        gap: 8px;

        img { width: 18px; height: 18px; }

        span { @include mixins.nunitoFont(14px, 600, vars.$black, normal); }
    }

    .course-content {
        padding: 14px 16px;

        h2 a {
            @include mixins.nunitoFont(18px, 700, vars.$black, normal);
            margin: 0 0 6px 0;
            text-decoration: none;
            color: vars.$black;
        }

        p {
            margin: 0;
            @include mixins.nunitoFont(14px, 400, vars.$gray, normal);
            line-height: 1.4;
        }
    }

    .course-bottom {
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    .course-price {
        padding: 0 16px 10px;
        span { @include mixins.nunitoFont(13px, 600, vars.$black, normal); }
    }

    .course-divider {
        height: 2px;
        background: vars.$gray;
        margin: 0 16px;
    }

    .course-footer {
        padding: 10px 16px;
        display: flex;
        justify-content: space-between;
    
        .course-meta {
            display: flex;
            gap: 6px;
            align-items: center;
    
            img { width: 16px; }
            span { 
                @include mixins.nunitoFont(13px, 500, vars.$black, normal); 
            }
        }
    
        .time {
            @include mixins.nunitoFont(13px, 700, vars.$black, normal);
        }
    }   
}