@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.footer-container {
    background-color: vars.$light-blue;
    padding: 60px 40px 30px;
    border-top: 1px solid vars.$gray;

    .footer-columns {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    
        @media (max-width: 700px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 30px;
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                @include mixins.nunitoFont(16px, 700, vars.$black, normal);
                margin-bottom: 8px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 6px;

                li {
                    @include mixins.nunitoFont(16px, 400, vars.$black, normal);
                    @include mixins.hover-translate();
                }
            }
        }
    }

    .footer-bottom {
        max-width: 100vw;
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        p {
            @include mixins.nunitoFont(16px, 400, vars.$black, normal);
            opacity: 0.6;
        }
    }
}