@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

// Значення за замовчуванням (можна винести у vars.scss, тоді prefix vars.$)
$container-max-width: 1400px;
$gutter: 20px;

// Контейнер
.container {
    max-width: $container-max-width;
    width: 100%;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    box-sizing: border-box;
}

// Ряд
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-#{$gutter} / 2);
    margin-right: calc(-#{$gutter} / 2);
}

// Колонка
.col {
    padding-left: calc(#{$gutter} / 2);
    padding-right: calc(#{$gutter} / 2);
    box-sizing: border-box;
}

// Міксін для колонок (1–12)
@mixin col($n) {
    width: calc(100% * ($n / 12));
}

// Авто-генерація класів col-1 ... col-12
@for $i from 1 through 12 {
    .col-#{$i} {
        @include col($i);
    }
}
