@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.header-container {
    max-width: 100vw;
    padding: 0 50px;
    height: 80px;
    background-color: vars.$blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .learnit a {
        @include mixins.firaCodeFont(36px, 700, vars.$white, normal); 
        text-decoration: none;
    }

    nav.desktop a {
        @include mixins.workSansFont(20px, 500, vars.$white, normal); 
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover { opacity: 0.85; }
    }

    button[aria-label="submit"] {
        width: 42px;
        height: 42px;
        border-radius: 50px 0 0 50px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img { width: 35px; height: 35px; }
        &:hover { 
            transform: translateY(-2px);
            opacity: 0.85; 
        }
    }

    .desktop {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    button.mobile {
        display: none;
        background: none;
        border: none;
        cursor: pointer;

        img { width: 24px; height: 24px; }
    }

    @media (max-width: 768px) {
        nav.desktop { display: none; }
        button.mobile { display: block; }
    }
}
