@use "../abstracts/vars" as vars;
@use "../abstracts/mixins" as mixins;

.header-container {
    max-width: 100vw;
    padding: 0 50px;
    height: 80px;
    background-color: vars.$blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .learnit a {
        @include mixins.firaCodeFont(36px, 700, vars.$white, normal); 
        text-decoration: none;
    }

    nav.desktop a {
        @include mixins.workSansFont(20px, 500, vars.$white, normal); 
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 4px;

        @include mixins.hover-translate();
    }

    .desktop {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    @media (max-width: 700px) {
        nav.desktop { display: none; }
    }
}
